<%# show name of list and all movies in a specific list %>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Watchlist</a>
  </nav>
<div class='banner-show mb-5'>
  <div class = 'container'>
  <h1><%= @list.name %></h1>
  <h3>Here are all your bookmarks:</h3>
  </div>
</div>
<div class="card" style="width: 300px;">
    <% @list.bookmarks.each do |bookmark| %>
      <img src="<%= bookmark.movie.poster_url %>" class= "card-img-top"/>
      <h5 class="card-title">
        <%= bookmark.movie.title %>
        <%= bookmark.movie.rating %>
      </h5><i class="fa-solid fa-star"></i>
      <p class="card-text">
        <%= bookmark.movie.overview %>
      </p>
      <p><em>--<%= bookmark.comment %></em></p>
      <p class="card-link"> <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %></p>
    <% end %>


<%= link_to "Back to all lists", lists_path %>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
